@import '../../../../theme/css/__global';

.header_toolbar {
    --background: var(--doctor-color-primary);
    --color: var(--doctor-color-primary-contrast);
}
.ion-content-padding {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
}
.online_users_container {
    @extend .flex_col;
    padding: 5px;
    .users_list_container {
        padding: 5px;
        ul {
            @extend .flex_row;
            padding: 10px;
            li {
                position: relative;
                padding: 10px 15px;
                flex: 1;
                font-size: 13px;
                color: var(--doctor-color-text);
                opacity: 0.8;
            }
        }
        ul:nth-child(odd) {
            background: var(--doctor-color-background-contrast);
        }
        ul:nth-child(even) {
            background: var(--doctor-color-skyblue);
        }
    }
    .no_users_online {
        color: var(--ion-color-danger-tint);
        padding: 15px;
        text-align: center;
    }
    .table_header {
        @extend .flex_row;
        padding: 20px;
        color: var(--doctor-color-primary);
        font-weight: bold;
        letter-spacing: 0.5px;
        li {
            position: relative;
            padding: 10px 15px;
            flex: 1;
            text-transform: capitalize;
            font-size: 13px;
        }
    }
}
