<ion-header translucent>
    <ion-toolbar class="header_toolbar">
        <ion-title> Online Users </ion-title>
        <ion-buttons slot="primary">
            <ion-button slot="end" (click)="dismissModal()">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="online_users_container">
        <ul class="table_header">
           <li> Name </li> 
           <li *ngIf="data?.flow===1"> Clinic Name </li> 
           <li> Phone Number </li> 
           <li> Login Time </li> 
           <li> Last Interacted </li> 
           <li> city </li>
        </ul>
        <div class="users_list_container">
            <ul *ngFor="let user of data?.userData?.loginUsersList">
                <li> <span *ngIf="data?.flow===1">Dr.</span> {{ user?.userName }} </li>
                <li *ngIf="data?.flow===1"> {{ user?.clinic }} </li>
                <li> {{ user?.phoneNumber }} </li>
                <li> {{ user?.loginTime | dateTransformer: 'YYYY-MM-DD HH:mm:ss' : 'DD MMM YY h:mm a'}} </li>
                <li> {{ user?.lastInteractionTime | dateTransformer: 'YYYY-MM-DD HH:mm:ss' : 'h:mm a'}} </li>
                <li> {{ user?.city }} </li>
            </ul>
        </div>
        <ul class="no_users_online" *ngIf="data?.userData?.loginUsersList.length===0">
            no users online now!
        </ul>
    </div>
</ion-content>
