<mat-form-field floatLabel="never">
    <input matInput [matDatepicker]="picker" [placeholder]="placeholder" 
    (dateChange)="dateSelected($event.value)" [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year"></mat-datepicker>
</mat-form-field>
