<ion-header>
    <ion-toolbar>
        <ion-title> Pick Slot </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss(null)">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="container">
        <span class="header">
            <h4> Dr. {{ appointment?.physicianData?.profile?.fullname }} </h4>
            <app-date-picker class="date_picker" [placeholder]="'Date'" [dateControl]="date"
                (datePicked)="selectedDate($event)">
            </app-date-picker>
        </span>
        <ng-container *ngIf="(clinicSlot$ | async) as slots">
            <div class="slots">
                <h4> Available Slots for Patients </h4>
                <ul class="slots">
                    <li *ngFor="let timeSlot of slots?.timeSlots;let slotInd = index"
                        [ngClass]="{ 'disable': timeSlot.expired, 
                                                            'no_appt': timeSlot?.bookedAppointments === 0,
                                                            'half_appts': (timeSlot?.bookedAppointments ===  (timeSlot?.maxSlotAppointments / 2)),
                                                            'full_appts': timeSlot?.bookedAppointments >= timeSlot?.maxSlotAppointments}">
                        <div class="details">
                            <p style="margin-bottom: 4px;">
                                {{ timeSlot?.startTime }}
                            </p>
                            <p *ngFor="let appt of timeSlot?.appointments"
                                style="text-transform: capitalize; font-size: 12px;margin-bottom: 5px;">
                                {{ appt?.patientData?.firstName }} &nbsp; {{ appt?.patientData?.lastName }}
                            </p>
                            <p>
                                {{ (timeSlot?.maxSlotAppointments - timeSlot?.bookedAppointments) < 0 ? 0 :
                                    timeSlot?.maxSlotAppointments - timeSlot?.bookedAppointments }} AVLBL / {{
                                    timeSlot?.maxSlotAppointments }} </p>
                        </div>
                        <ion-icon name="add-circle-outline" *ngIf="!timeSlot?.expired" (click)="selectedSlot(timeSlot)">
                        </ion-icon>
                    </li>
                </ul>
                <div class="emptySlots" *ngIf="slots?.timeSlots && slots?.timeSlots?.length === 0">
                    No slots found for this Physician !
                </div>
            </div>
            <div class="mrslots">
                <h4> Available Slots for MR </h4>
                <ul class="slots">
                    <li *ngFor="let timeSlot of slots?.mrSlots;let slotInd = index" [ngClass]="{ 'disable': timeSlot.expired, 
                            'no_appt': timeSlot?.bookedAppointments === 0,
                            'half_appts': (timeSlot?.bookedAppointments ===  (timeSlot?.maxSlotAppointments / 2)),
                            'full_appts': timeSlot?.bookedAppointments >= timeSlot?.maxSlotAppointments}">
                        <div class="details">
                            <p style="margin-bottom: 4px;">
                                {{ timeSlot?.startTime }}
                            </p>
                            <p *ngFor="let appt of timeSlot?.appointments"
                                style="text-transform: capitalize; font-size: 12px;margin-bottom: 5px;">
                                {{ appt?.patientData?.firstName }} &nbsp; {{ appt?.patientData?.lastName }}
                            </p>
                            <p>
                                {{ (timeSlot?.maxSlotAppointments - timeSlot?.bookedAppointments) < 0 ? 0 :
                                    timeSlot?.maxSlotAppointments - timeSlot?.bookedAppointments }} AVLBL / {{
                                    timeSlot?.maxSlotAppointments }} </p>
                        </div>
                        <ion-icon name="add-circle-outline" *ngIf="!timeSlot?.expired" (click)="selectedSlot(timeSlot)">
                        </ion-icon>
                    </li>
                </ul>
                <div class="emptySlots" *ngIf="slots?.mrSlots && slots?.mrSlots?.length === 0">
                    No slots found!
                </div>

            </div>
        </ng-container>
    </div>
</ion-content>
<div class="loader" *ngIf="loader">
    <ion-spinner name="lines" color="primary"></ion-spinner>
</div>