@import "../../../../theme/css/__global";

ion-title {
    line-height: initial;
}
.loader {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        align-items: center;
        flex-direction: row;
        h4 {
            flex: 1;
        }
        .date_picker {
            width: 200px;
            display: flex;
        }
    }
}

.patientSlots,
.mrslots {
    display: flex;
    flex-direction: column;
}
.mrslots {
    margin-top: 16px;
}
.patientSlots h4,
.mrslots h4 {
    margin-bottom: 16px;
}

.emptyAlert,
.emptySlots {
    display: flex;
    font-size: 14px;
    color: #3d4dac;
    min-height: 100px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.slots {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 10px;
    -webkit-justify-content: center;
    justify-content: center;
}

.slots > li {
    min-width: 185px;
    min-height: 67px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 12px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid;
    cursor: pointer;
}

.slots > li.no_appt {
    border-color: #2ba53a;
    background: rgba(43, 165, 58, 0.1);
}

.slots > li.half_appts {
    border-color: #ffa000;
    background: rgba(255, 160, 0, 0.1);
}

.slots > li.full_appts {
    border-color: #e9414e;
    background: rgba(233, 65, 78, 0.1);
}

.slots > li.disable {
    cursor: not-allowed;
    background: #fafbfb !important;
    border-color: #e9eaea !important;
}

.slots > li.disable .details {
    position: relative;
}

.slots > li.disable .details::before {
    content: "";
    width: 50%;
    height: 1px;
    background: #2f3746;
    position: absolute;
    bottom: 6px;
    left: -7px;
}

.slots > li .details p:first-child {
    font-size: 14px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    color: #979ba2;
}

.slots > li ion-icon {
    color: #2f3746;
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.slots > li .details {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.slots > li .details p {
    font-size: 12px;
    line-height: 12px;
    color: #2f3746;
}

.slots > li.disable .details p {
    color: #979ba2;
    font-weight: bold;
}
