<mat-form-field floatLabel="never">
    <input placeholder="Location" matInput [formControl]="autoCompCT"
        [matAutocomplete]="locationPicker" required>
    <mat-autocomplete #locationPicker="matAutocomplete" (optionSelected)="placeSelected($event.option.value)">
        <mat-option *ngFor="let place of predictions" [value]="place">
            {{ place?.description }}
        </mat-option>
    </mat-autocomplete>
    <mat-icon matPrefix [style.opacity]="autoCompCT.disabled ? '0.3' : '1'">my_location</mat-icon>
</mat-form-field>
