@import '../../../../theme/css/_global';

$logoDim: 40px;
.phy_logo {
    @extend .flex_row;
    cursor: pointer;
    align-items: center;
    transition: all .8s ease;
    img, span {
        width: $logoDim;
        height: $logoDim;
        @extend .image_prop;
        border-radius: 50%;
        border: 2px solid var(--doctor-color-success);
    }
    span {
        @extend .default_physician_logo;
    }
    p {
        font-size: 14px;
        margin-left: 10px;
        color: var(--doctor-color-background-contrast);
        opacity: 0.7;
        text-transform: capitalize;
    }
    &:hover p {
        color: var(--doctor-color-background);
        opacity: 1;
    }
}
.offline {
    border-color: var(--doctor-color-warning);
}
.mat-menu-item {
    text-align: center;
    @extend .mat-small-button;
}
