<div class="phy_logo" [class.offline]="false" [matMenuTriggerFor]="menu">
    <img [src]="adminUser?.imageUrl" *ngIf="adminUser?.imageUrl;else defaultPhy">
    <ng-template #defaultPhy> <span></span> </ng-template>
    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <p> {{ adminUser?.fullName }} </p>
</div>
