<div class="container">
    <h3> {{ placeholder }} </h3>
    <div class="editor_wrap">
        <!-- 'heading', '|', 'bold', 'italic' -->
        <ckeditor [config]="{ toolbar: [], placeholder: 'Type the content here!' }" 
        [editor]="editor" [(ngModel)]="value"></ckeditor>
    </div>
</div>
