@import '../../../../../theme/css/__global';

:host ::ng-deep .ck-editor__editable_inline {
    height: 100px;
    border-radius: $border-radius;
}

.container {
    @extend .flex_col;
    h3 {
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 15px;
        color: var(--doctor-color-text);
    }
}
