@import '../../theme/css/__global';

$hundPerc: 100%;
:host {
    background: var(--doctor-color-background);
}
.loginMainWrap {
    @extend .flex_row;
    height: 100%;
    justify-content: center;
    background: var(--doctor-color-background);
    .midWrap {
        width: 400px;
        @extend .flex_col;
        .syntagiLogoWrap {
            @extend .flex_row;
            padding: 20px, { left: 0px; right: 0px; };
            justify-content: center;
            span {
                $size: 150px;
                width: $size;
                height: $size;
                @extend .image_prop;
                @extend .syntagi_login_logo;
            }
        }
        .registrationWrap {
            @extend .flex_col;
            @extend .default_shadow;
            width: $hundPerc;
            padding: 15px;
            // for only login
            margin-top: 80px;
            background-color: var(--doctor-color-background-contrast);
            h4 { 
                text-align: center;
                margin-bottom: 15px;
                line-height: 18px;
            }
            .fields_wrap {
                background-color: var(--doctor-color-background-contrast);
                .formFieldsList {
                    padding: 30px, { top: 0px; bottom: 0px; }
                    li {
                        padding: 5px, { left: 0px; right: 0px };
                        input { text-align: center; }
                    }
                }
            }
            .alert {
                text-align: center;
                font-size: 12px;
                color: var(--doctor-color-warning);
            }
            button {
                margin-top: 15px;
                width: $hundPerc;
                border-radius: 0px;
                padding: 5px, { left: 0px; right: 0px; };
            }
            .mat-form-field {
                width: $hundPerc;
            }
        }
        .registN_link {
            @extend .flex_row;
            justify-content: center;
            padding: 30px, { left: 0px; right: 0px; };
            span, a { 
                cursor: pointer;
                font-size: 14px;
                color: var(--doctor-color-primary);
            }
            &:hover a {
                color: var(--doctor-color-accent);
                text-decoration: underline;
            }
            span + a {
                margin-left: 5px;
            }
        }
    }
}
