<ion-content>
    <div class="loginMainWrap">
        <div class="midWrap">
            <!-- for Admin Panel Logo -->
            <!-- <div class="syntagiLogoWrap">
                <span></span>
            </div> -->
            <div class="registrationWrap">
                <h4>Login to your account</h4>
                <div class="fields_wrap">
                    <form [formGroup]="loginFormGP" (ngSubmit)="loginFormGP.valid&&validateAdminUser()">
                        <ul class="formFieldsList">
                            <li>
                                <mat-form-field [hideRequiredMarker]="false">
                                    <input matInput name="regField" required formControlName="login"
                                        placeholder="Registration No. / Email Id. / Phone No.">
                                    <mat-error *ngIf="loginFormGP.get('login').hasError('required')">
                                        please enter your Registration No. / Email Id. / Phone No.
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field [hideRequiredMarker]="false">
                                    <input matInput type="password" name="pinField" placeholder="Four Digit PIN"
                                        required maxlength="4" formControlName="pin" minlength="4">
                                    <mat-error *ngIf="loginFormGP.get('pin').hasError('required') ||
                                        loginFormGP.get('pin').hasError('minlength')">
                                        please enter your four digit pin
                                    </mat-error>
                                    <mat-error *ngIf="loginFormGP.get('pin').hasError('string_forbidden')">
                                        please enter numeric value
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field>
                                    <mat-select name="adminUserRole" placeholder="Role" formControlName="adminUserRoleType">
                                        <mat-option value=1>Admin</mat-option>
                                        <mat-option value=2>Customer Support</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="loginFormGP.get('adminUserRoleType').hasError('required')">
                                        please enter role type
                                    </mat-error>
                                </mat-form-field>
                            </li>
                        </ul>
                        <button mat-raised-button color="primary">Continue</button>
                    </form>
                </div>
            </div>
            <!-- for registration -->
            <!-- <div class="registN_link">
                <span class="blackColor">New To Syntagi&nbsp;?</span>
                <a [routerLink]="['/registration']">REGISTER</a>
            </div> -->
        </div>
    </div>
</ion-content>
