@import "../../../../theme/css/__global";

$patientlogoDim: 40px;
.appointment_container {
    @extend .flex_row;
    padding: 5px 10px;
    cursor: pointer;
    .appointment {
        @extend .flex_row;
        flex-grow: 1;
        outline: none;
        align-items: center;
        font-size: 13px;
        text-transform: capitalize;
        color: var(--doctor-color-text);
        opacity: 0.8;
        .default_patient,
        img {
            display: inline-block;
            width: $patientlogoDim;
            height: $patientlogoDim;
            @extend .image_prop;
            border-radius: 50%;
            margin-right: 10px;
        }
        .default_patient {
            @extend .default_patient_logo;
        }
        .patient_details {
            @extend .flex_col;
            width: 200px;
            margin-left: 5px;
            .appo_sub_details_wrap {
                font-size: 11px;
            }
        }
        .physician_details {
            flex: 2;
        }
        .appo_status_wrap {
            flex: 1;
            display: flex;
            flex-direction: column;
            .refund {
                font-size: 12px;
                color: var(--ion-color-success);
            }
        }
        .time_slot_wrap {
            flex: 1;
        }
        .timer_wrap {
            flex: 1;
            margin-right: 10px;
            span {
                color: var(--doctor-color-accent-contrast);
            }
            .warning_low {
                color: var(--doctor-color-success);
            }
            .warning_medium {
                color: var(--doctor-color-chip-background);
            }
            .warning_high {
                color: var(--doctor-color-warning);
            }
        }
        &:hover span {
            color: var(--doctor-color-accent);
            opacity: 1;
        }
    }
    .appointments_details {
        @extend .flex_row;
        padding: 7px;
        margin-left: 20px;
        border: $seperator;
        .details {
            flex: 1;
            padding: 0 5px;
            @extend .flex_col;
            span {
                font-size: 13px;
            }
        }
        .actions {
            flex: 1;
            text-align: right;
        }
    }
}
