<div class="appointment_container">
    <mat-accordion style="width: 100%;">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    <div class="appointment">
                        <img [src]="appointment?.patientData?.imageUrl"
                            *ngIf="appointment?.patientData?.imageUrl;else defaultPatient">
                        <ng-template #defaultPatient> <span class="default_patient"></span> </ng-template>
                        <div class="patient_details">
                            <span> {{
                                appointment?.patientData?.salutation}}&nbsp;{{appointment?.patientData?.firstName}}&nbsp;
                                {{appointment?.patientData?.lastName }}
                            </span>
                            <span class="appo_sub_details_wrap" *ngIf="appointment?.appointmentStatus===12">
                                (New Appointment)
                            </span>
                            <span class="appo_sub_details_wrap" *ngIf="appointment?.appointmentStatus===4">
                                (Follow Up Appointment)
                            </span>
                        </div>
                        <div class="physician_details">
                            <span>
                                Dr. {{ appointment?.physicianData?.profile?.fullname }}
                                <small *ngIf="appointment?.assistantPhysicianData">
                                    (Assistant - {{ appointment?.assistantPhysicianData?.profile.fullname }})
                                </small>
                            </span>
                        </div>
                        <div class="appo_status_wrap">
                            <span> {{ appointment?.appointmentStatusName }} </span>
                            <span class="refund" *ngIf="appointment?.refundData"> (Refunded) </span>
                        </div>
                        <div class="time_slot_wrap">
                            <span> {{ appointment?.timeSlot?.startTime }} </span>
                        </div>
                        <div class="timer_wrap">
                            <span *ngIf="appointment?.appointmentStatus === 12"
                                [class.warning_low]="warningForPaidAppo===1"
                                [class.warning_medium]="warningForPaidAppo===2"
                                [class.warning_high]="warningForPaidAppo===3">
                                {{ countDownForPaidAppo$ | async }}
                            </span>
                            <span *ngIf="appointment?.appointmentStatus === 4"
                                [class.warning_low]="warningForBookedAppo===1"
                                [class.warning_medium]="warningForBookedAppo===2"
                                [class.warning_high]="warningForBookedAppo===3">
                                {{ countDownForBookedAppo$ | async }}
                            </span>
                        </div>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="appointments_details">
                <div class="details">
                    <span> Patient Phone No. {{ appointment?.patientData?.phoneNumber }}</span>
                    <span> Address : {{ appointment?.patientData?.address?.city }} </span>
                </div>
                <div class="details">
                    <span> Doctors Phone No. {{ appointment?.physicianData?.profile?.phoneNumber }}</span>
                    <span> Address : {{ appointment?.physicianData?.profile?.address?.city }} </span>
                </div>
                <div class="actions">
                    <ion-button color="primary" fill="clear" size="small" (click)="showSentSmsNPushNotn()">
                        Sms & Notfn
                    </ion-button>
                </div>
                <div class="actions" *ngIf="appointment?.appointmentStatus === 5">
                    <ion-button color="primary" fill="solid" size="small" (click)="initiateRefund()"> Refund
                    </ion-button>
                </div>
                <div class="actions" *ngIf="appointment?.appointmentStatus === 4 || appointment?.appointmentStatus === 7 || 
                    appointment?.appointmentStatus === 10 || appointment?.appointmentStatus === 12">
                    <ng-container *ngIf="!appointment?.loader;else updating">
                        <ion-button color="primary" fill="solid" size="small" (click)="pickSlot()"> Reschedule
                        </ion-button>
                        <ion-button color="danger" size="small" fill="clear" (click)="cancelAppt()"> Cancel
                        </ion-button>
                    </ng-container>
                    <ng-template #updating>
                        <ion-spinner name="lines" color="primary"></ion-spinner>
                    </ng-template>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>