
<div class="labTopImageWrap">
    <div class="inner textCenter" style="margin: auto;bottom: 0px;right: 0px;">
        <span>+</span> Upload
    </div>
    <div class="backColorWrap"></div>
    <input type="file" name="digitalSign" multiple (change)="uploadImage($event)">
</div>
<div class="imagePreviewWrap" [class.selected]="image?.isSelected" *ngFor="let image of selectedFiles">
    <img [src]="image.url ? image.url : '../../../../assets/images/logo/app-icon-1.png'">
    <span class="loader" *ngIf="image.progress !== 100">
        <mat-progress-bar mode="determinate" [value]="image.progress"></mat-progress-bar>
    </span>
</div>