<ul class="sideBar_content_list">
    <li [routerLinkActive]="['active']" matTooltip="Dashboard">
        <a class="menu_item" [class.float_start]="!toggle" [routerLink]="['/physician/dashboard']" routerDirection="root">
            <mat-icon> dashboard </mat-icon>
            <div class="menu_item_name" *ngIf="!toggle"> Dashboard </div>
        </a>
    </li>
    <li [routerLinkActive]="['active']" matTooltip="Patient Queue">
        <a class="menu_item" [class.float_start]="!toggle" [routerLink]="['/physician/queue']" routerDirection="root">
            <mat-icon> queue </mat-icon>
            <div class="menu_item_name" *ngIf="!toggle"> Patient Queue </div>
        </a>
    </li>
    <li [routerLinkActive]="['active']" matTooltip="Registered Profile">
        <a class="menu_item" [class.float_start]="!toggle" [routerLink]="['/physician/myprofile']" routerDirection="root">
            <mat-icon> person </mat-icon>
            <div class="menu_item_name" *ngIf="!toggle"> Registered Profile </div>
        </a>
    </li>
    <li [routerLinkActive]="['active']"
    [ngClass]="{ collapse_sub_menu: toggle || prescnChildMenu, expand_sub_menu: !prescnChildMenu }">
        <div class="menu_item" [class.float_start]="!toggle" matTooltip="Prescriptions"
        (click)="prescnChildMenu = !prescnChildMenu">
            <mat-icon [routerLink]="['/physician/prescriptions/todays-prescriptions']" routerDirection="root"> note_add </mat-icon>
            <div class="menu_item_name" *ngIf="!toggle"> 
                Prescriptions <mat-icon [class.rotate_arrow]="!prescnChildMenu"> keyboard_arrow_down </mat-icon> 
            </div>
        </div>
        <a class="sub_menu_item" [routerLinkActive]="['active']" matTooltip="Today's Prescriptions"
        [routerLink]="['/physician/prescriptions/todays-prescriptions']" routerDirection="root">
            <div class="menu_item_name">
                Today's Prescriptions
            </div>
        </a>
        <a class="sub_menu_item" [routerLinkActive]="['active']" matTooltip="Past Prescriptions" 
        [routerLink]="['/physician/prescriptions/past-prescriptions']" routerDirection="root">
            <div class="menu_item_name"> 
                Past Prescriptions
            </div>
        </a>
    </li>
    <li [routerLinkActive]="['active']"
    [ngClass]="{ collapse_sub_menu: toggle || billChildMenu, expand_billing_menu: !billChildMenu }">
        <div class="menu_item" [class.float_start]="!toggle" matTooltip="Billing"
        (click)="billChildMenu = !billChildMenu">
            <mat-icon [routerLink]="['/physician/billing/setup']" routerDirection="root"> account_balance_wallet </mat-icon>
            <div class="menu_item_name" *ngIf="!toggle"> 
                Billing <mat-icon [class.rotate_arrow]="!billChildMenu"> keyboard_arrow_down </mat-icon> 
            </div>
        </div>
        <a class="sub_menu_item" [routerLinkActive]="['active']" matTooltip="Billing Setup"
        [routerLink]="['/physician/billing/setup']" routerDirection="root">
            <div class="menu_item_name">
                Setup
            </div>
        </a>
    </li>
    <li [routerLinkActive]="['active']"
    [ngClass]="{ collapse_sub_menu: toggle || campaignsChildMenu, expand_sub_menu: !campaignsChildMenu }">
        <div class="menu_item" [class.float_start]="!toggle" matTooltip="Campaigns"
        (click)="campaignsChildMenu = !campaignsChildMenu">
            <mat-icon [routerLink]="['/physician/campaigns/my-patients']" routerDirection="root"> note_add </mat-icon>
            <div class="menu_item_name" *ngIf="!toggle"> 
                Campaigns <mat-icon [class.rotate_arrow]="!campaignsChildMenu"> keyboard_arrow_down </mat-icon> 
            </div>
        </div>
        <a class="sub_menu_item" [routerLinkActive]="['active']" matTooltip="My Patients"
        [routerLink]="['/physician/campaigns/my-patients']" routerDirection="root">
            <div class="menu_item_name">
                My Patients
            </div>
        </a>
        <a class="sub_menu_item" [routerLinkActive]="['active']" matTooltip="My Campaigns" 
        [routerLink]="['/physician/campaigns/my-campaigns']" routerDirection="root">
            <div class="menu_item_name"> 
                My Campaigns
            </div>
        </a>
    </li>
    <li [routerLinkActive]="['active']" matTooltip="My Appointment">
        <a class="menu_item" [class.float_start]="!toggle" [routerLink]="['/physician/myprofile']" routerDirection="root">
            <mat-icon> insert_invitation </mat-icon>
            <div class="menu_item_name" *ngIf="!toggle"> My Appointment </div>
        </a>
    </li>
    <li [routerLinkActive]="['active']" matTooltip="Disease Map">
        <a class="menu_item" [class.float_start]="!toggle" [routerLink]="['/physician/myprofile']" routerDirection="root">
            <mat-icon> public </mat-icon>
            <div class="menu_item_name" *ngIf="!toggle"> Disease Map </div>
        </a>
    </li>
    <li [routerLinkActive]="['active']" matTooltip="Settings">
        <a class="menu_item" [class.float_start]="!toggle" [routerLink]="['/physician/myprofile']" routerDirection="root">
            <mat-icon> settings </mat-icon>
            <div class="menu_item_name" *ngIf="!toggle"> Settings </div>
        </a>
    </li>
</ul>
