@import '../../../../../theme/css/_global';

$hundPer: 100%;
:host {
    width: $hundPer;
    height: $hundPer;
    background: var(--doctor-color-background-contrast);
    .mat-icon:focus {
        outline: none;
    }
    .sideBar_content_list {
        @extend .flex_col;
        > li {
            min-height: 44px;
            transition: height .5s;
            -moz-transition: height .5s;
            -webkit-transition: height .5s;
            box-shadow: $card-shadow;
            -moz-box-shadow: $card-shadow;
            -webkit-box-shadow: $card-shadow;
            .menu_item, .sub_menu_item {
                @extend .flex_row;
                justify-content: center;
                color: var(--doctor-color-primary);
                padding: 10px;
                .menu_item_name {
                    height: 24px;
                    flex-grow: 1;
                    margin-left: 15px;
                    font-size: 16px;
                    overflow: hidden;
                    line-height: 24px;
                    .mat-icon {
                        float: right;
                    }
                }
                &:hover {
                    color: var(--doctor-color-accent);
                }
            }
            .float_start {
                justify-content: flex-start;
            }
            .sub_menu_item {
                @extend .flex_col;
                margin-left: 50px;
                padding-top: 0px;
            }
            .rotate_arrow {
                transform: rotate(180deg);
            }
        }
        > li.expand_sub_menu {
            height: 112px;
            overflow-y: hidden;
        }
        > .collapse_sub_menu {
            height: 44px !important;
            overflow: hidden;
        }
        > li.expand_billing_menu {
            height: 78px;
        }
        > li:last-child {
            position: absolute;
            width: $hundPer;
            bottom: 0;
            left: 0;
        }
        > li.active {
            > .menu_item {
                color: var(--doctor-color-accent) !important;
            }
            .sub_menu_item.active {
                > .menu_item_name {
                    color: var(--doctor-color-accent);
                }
            }
        }
    }
}