.default_theme {
    /** Primary */
    --doctor-color-primary: #3d4dac;
    --doctor-color-primary-rgb: rgb(61, 77, 172);
    --doctor-color-primary-contrast: #ffffff;
    --doctor-color-primary-contrast-rgb: rgb(255, 255, 255);
    --doctor-color-primary-shade: #37459b;
    --doctor-color-primary-tint: #6471bd;

    /** Accent */
    --doctor-color-accent: #ff6d00;
    --doctor-color-accent-rgb: rgb(255, 109, 0);
    --doctor-color-accent-contrast: #ffffff;
    --doctor-color-accent-contrast-rgb: rgb(255, 255, 255);
    --doctor-color-accent-shade: #e66200;
    --doctor-color-accent-tint: #ffa766;

    /**  Background */
    --doctor-color-background: #f5f5f5;
    --doctor-color-background-rgb: rgb(245, 245, 245);
    --doctor-color-background-contrast: #ffffff;
    --doctor-color-background-contrast-rgb: rgb(255, 255, 255);
    --doctor-color-background-shade: #c4c4c4;
    --doctor-color-background-tint: #f6f6f6;

    /** Text Color */
    --doctor-color-text: #222222;
    --doctor-color-text-rgb: rgb(34, 34, 34);
    --doctor-color-text-contrast: #ffffff;
    --doctor-color-text-contrast-rgb: rgb(255, 255, 255);
    // --doctor-color-text-shade: #c4c4c4;
    --doctor-color-text-tint: #a2a2a2;
    --doctor-color-text-shade: #757575;

    /** Success */
    --doctor-color-success: #10dc60;
    --doctor-color-success-rgb: 16, 220, 96;
    --doctor-color-success-contrast: #ffffff;
    --doctor-color-success-contrast-rgb: 255, 255, 255;
    --doctor-color-success-shade: #0ec254;
    --doctor-color-success-tint: #28e070;

    /** Warning */
    --doctor-color-warning: #f04141;
    --doctor-color-warning-rgb: 245, 61, 61;
    --doctor-color-warning-contrast: #ffffff;
    --doctor-color-warning-contrast-rgb: 255, 255, 255;
    --doctor-color-warning-shade: #d33939;
    --doctor-color-warning-tint: #f25454;


    /** Random */
    --doctor-color-skyblue: #f1f6f7;
    --doctor-color-grey: #cccccc;

    /** Patient */
    --patient-color-background: #e3efe2;

    /** Chip */
    --doctor-color-chip-background: #8696EE;
    --doctor-color-square-chip-background: #9cabfc;
    --doctor-color-chip-color: #ffffff;
    --doctor-color-chip-hover: #cccccc;
    --doctor-color-med-table-header: #edf6fb;
}
