<div class="card">
    <form [formGroup]="filterFG">
        <ul class="fields">
            <li class="field">
                <app-date-picker [dateControl]="filterFG.get('fromDate')" [placeholder]="'From'"></app-date-picker>
            </li>
            <li class="field">
                <app-date-picker [dateControl]="filterFG.get('toDate')" [placeholder]="'To'"></app-date-picker>
            </li>
        </ul>
        <ul class="fields">
            <li class="field">
                <mat-form-field>
                    <!-- (selectionChange)="quickFilters()" -->
                    <mat-select name="quickFilter" placeholder="Quick Filter" formControlName="quickFilterCheck">
                        <mat-option>None</mat-option>
                        <mat-option value="0">Todays</mat-option>
                        <mat-option value="-7">Last 7 Days</mat-option>
                        <mat-option value="-14">Last 2 Weeks</mat-option>
                        <mat-option value="-30">Last Month</mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
            <li class="field">
                <mat-form-field>
                    <mat-label>Appointment Status</mat-label>
                    <mat-select name="appointmentStatus" placeholder="Appointment Status"
                        formControlName="appointmentStatusList" multiple>
                        <mat-option value="">None</mat-option>
                        <mat-option value="4">Booked</mat-option>
                        <mat-option value="8">Completed</mat-option>
                        <mat-option value="5">Cancelled</mat-option>
                        <mat-option value="6">Expired</mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
        </ul>
        <ul class="fields">
            <li class="field">
                <mat-form-field>
                    <input matInput type="text" placeholder="Select Clinic" formControlName="clinicId"
                        [matAutocomplete]="filterClinic">
                    <mat-autocomplete #filterClinic="matAutocomplete" [displayWith]="displayClinicByName">
                        <mat-option value="null">--None--</mat-option>
                        <ng-container *ngIf="(clinics$ | async) as clinics">
                            <mat-option *ngFor="let clinic of clinics" [value]="clinic">
                                {{ clinic?.name }}
                            </mat-option>
                        </ng-container>
                    </mat-autocomplete>
                </mat-form-field>
            </li>
            <li class="field">
                <mat-form-field>
                    <mat-select placeholder="Select Physician" formControlName="physicianIdList" multiple>
                        <mat-option value="null">--None--</mat-option>
                        <ng-container *ngIf="(physicians$ | async) as physicians">
                            <mat-option *ngFor="let physician of physicians" [value]="physician?.physicianId">
                                {{ physician?.name }}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </li>
            <li class="field">
                <mat-form-field>
                    <mat-select name="quickFilter" placeholder="Show Records" formControlName="limit">
                        <mat-option value="10">10</mat-option>
                        <mat-option value="25">25</mat-option>
                        <mat-option value="50">50</mat-option>
                    </mat-select>
                </mat-form-field>
            </li>
        </ul>
        <ul class="fields">
            <li class="field">
                <mat-form-field>
                    <input matInput name="byNameSearch" formControlName="patientName"
                        placeholder="Search by Patient Name">
                </mat-form-field>
            </li>
            <li class="field">
                <mat-form-field>
                    <input matInput name="byNumberSearch" formControlName="phoneNumber"
                        placeholder="Search by Patient Phone Number" maxlength="10">
                </mat-form-field>
            </li>
        </ul>
        <ul class="fields">
            <li class="field row">
                <mat-radio-group required formControlName="appointmentType">
                    <mat-radio-button [value]="1" color="primary">
                        In Clinic
                    </mat-radio-button>
                    <mat-radio-button [value]="2" color="primary"> Remote
                    </mat-radio-button>
                    <mat-radio-button [value]="null" color="primary"> All
                    </mat-radio-button>
                </mat-radio-group>
            </li>
            <li class="field row">
                <mat-radio-group required formControlName="showMROnly">
                    <mat-radio-button [value]="false" color="primary">
                        Show Patients
                    </mat-radio-button>
                    <mat-radio-button [value]="true" color="primary">
                        Show Visitors
                    </mat-radio-button>
                </mat-radio-group>
            </li>
        </ul>
    </form>
    <div class="actions">
        <ion-button color="primary" size="small" fill="clear" class="ion-margin-end ion-no-margin" (click)="reset()">
            Clear </ion-button>
        <ion-button color="primary" size="small" fill="solid" class="ion-no-margin" (click)="emitValues()"> {{
            buttonName }}
        </ion-button>
    </div>
</div>