.card {
    padding: 16px;
    display: flex;
    min-width: 800px;
    border-radius: 6px;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 1px 3px 1px rgb(60 64 67 / 15%);
    .fields {
        display: flex;
        > li.field {
            flex: 1;
            padding: 8px 16px;
            .mat-form-field {
                width: 100%;
            }
            .mat-radio-group {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 16px 16px 0px 16px;
    }
}
