<div class="container default_theme" [ngClass]="{ success: !data?.status, warning: data?.status }">
    <span *ngIf="data?.status;else success"> <mat-icon>error</mat-icon> </span>
    <ng-template #success> <span> <mat-icon>done_all</mat-icon> </span> </ng-template>
    <div class="message_wrap">
        <p> {{ data?.title }} </p>
        <p>{{ data?.description }}</p>
    </div>
</div>
