@import '../../../../theme/css/__global';
$hundPerc: 100%;
:host {
    width: $hundPerc;
    .container {
        @extend .flex_row;
        z-index: map-get($z-index, 'error_popup');
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: $hundPerc;
        height: $hundPerc;
        border-radius: $border-radius;
        background: var(--doctor-color-background-contrast);
        .mat-icon {
            $icon_dim: 40px;
            width: $icon_dim;
            height: $icon_dim;
            font-size: $icon_dim;
        }
        .message_wrap {
            margin-left: 20px; 
            p:first-child { font-size: 14px; text-transform: uppercase; }
            p + p { margin-top: 2px; }
        }
    }
    .success {
        color: var(--doctor-color-success);
        box-shadow: map-get($box-shadow, "success");
        border: 1px solid var(--doctor-color-success);
        .span { .mat-icon { color: var(--doctor-color-success); } }
    }
    .warning {
        color: var(--doctor-color-warning);
        box-shadow: map-get($box-shadow, "warning");
        border: 1px solid var(--doctor-color-warning);
        .span { .mat-icon { color: var(--doctor-color-warning); } }
    }
}
