<div #alertDiaHostEL class="default_theme">
  <ion-app>
      <ion-header translucent>
          <ion-toolbar class="header_toolbar">
              <app-header></app-header>
              <!-- <ion-buttons slot="start" (click)="deleteToken()">
                <ion-button>
                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons> -->
          </ion-toolbar>
      </ion-header>
      <ion-content>
          <ion-router-outlet></ion-router-outlet>
      </ion-content>
  </ion-app>
</div>
