.content {
    display: flex;
    padding: 16px;
    overflow: hidden;
    max-height: 450px;
    overflow-y: scroll;
    background: #f4f4f5;
    flex-direction: column;
}

ul.cards {
    display: flex;
    flex-direction: column;
}

ul.cards > li.card {
    display: flex;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 16px;
    background: #ffffff;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px rgba(47, 55, 70, 0.2);
    -moz-box-shadow: 0px 2px 4px 0px rgba(47, 55, 70, 0.2);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(47, 55, 70, 0.2);
}

ul.cards > li.card:last-child {
    margin-bottom: 0px;
}

.success {
    color: var(--ion-color-success) !important;
}
.failure {
    color: var(--ion-color-danger) !important;
}

ul.cards > li.card p {
    font-size: 14px;
    color: #979ba2;
    line-height: 18px;
}

ul.cards > li.card h4 {
    color: #2f3746;
    line-height: 20px;
}

.loader {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
