<ion-header>
    <ion-toolbar>
        <ion-title slot="start"> Sms & Notifications Sent </ion-title>
        <ion-buttons slot="end" (click)="dismiss()">
            <ion-button>
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="container" *ngIf="(msgs$ | async) as msgs;else loader">
        <ul class="messages cards">
            <li class="message card" *ngFor="let notfn of msgs">
                <h4>
                    {{ notfn?.title }}
                    <ng-container [ngSwitch]="notfn?.roleType">
                        <ng-container *ngSwitchCase="1"> (Sent To Physician) </ng-container>
                        <ng-container *ngSwitchCase="2"> (Sent To Patient) </ng-container>
                    </ng-container>
                </h4>
                <p>{{ notfn?.sms ? notfn?.sms : notfn?.description }}</p>
                <p> {{ notfn?.created | date: 'MMM d, hh:mm a' }} </p>
                <p [ngClass]="{
                    'success': notfn?.pushStatus === 1,
                    'failure': notfn?.pushStatus === 2
                }">
                    {{ notfn?.sms ? 'Sms' : 'Notification' }}
                    <ng-container *ngIf="notfn?.sms">
                        <ng-container [ngSwitch]="notfn.messageStatus">
                            <div style="display: inline-block;" *ngSwitchCase="1"> Sent </div>
                            <div style="display: inline-block;" *ngSwitchCase="2"> Delivered </div>
                            <div style="display: inline-block;" *ngSwitchCase="3"> Failed </div>
                        </ng-container>
                    </ng-container>
                </p>
                <p *ngIf="notfn?.pushStatus === 2"> {{ notfn?.response }} </p>
            </li>
            <li *ngIf="msgs?.length === 0"></li>
        </ul>
    </div>
    <ng-template #loader>
        <div class="loader">
            <mat-spinner strokeWidth="3" diameter="50"></mat-spinner>
        </div>
    </ng-template>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color="primary" fill="clear" (click)="dismiss()">
                Cancel
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>