@import '../../../../theme/css/_global';

.bell_icon {
    @extend .flex_row;
    cursor: pointer;
    .mat-icon {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        transition: all .4s cubic-bezier(.25,.8,.25,1);
        -moz-transition: all .4s cubic-bezier(.25,.8,.25,1);
        -webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
        color: var(--doctor-color-background-contrast);
        opacity: 0.7;
    }
    &:hover .mat-icon {
        color: var(--doctor-color-background-contrast);
        opacity: 1;
    }
    .ring_bell {
        color: var(--doctor-color-background-contrast);
        animation: ring .5s ease-in-out infinite;
        -webkit-animation: ring .5s ease-in-out infinite;
        -moz-animation: ring .5s ease-in-out infinite;
    }
}
@keyframes ring {
    0%, 100% {
        transform: rotate(20deg) scale(2, 2);
        -webkit-transform: rotate(20deg) scale(2, 2);
        -moz-transform: rotate(20deg) scale(2, 2);
    }
    50% {
        transform: rotate(-20deg) scale(2, 2);
        -webkit-transform: rotate(-20deg) scale(2, 2);
        -moz-transform: rotate(-20deg) scale(2, 2);
    }
}