<ion-header>
    <ion-toolbar>
        <ion-title> Appointments Reports </ion-title>
        <!-- <ion-buttons slot="end" class="ion-margin-end">
            <ion-button color="primary" fill="solid" [disabled]="exportDisabled"
                (click)="">
                Export
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="container">
        <appts-filter [buttonName]="'Export'" (filter)="setSearchFilters($event)"></appts-filter>
        <div class="loader" *ngIf="loader">
            <ion-spinner name="lines" color="primary"></ion-spinner>
        </div>
    </div>
</ion-content>