<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar>
                    <ion-title>Menu</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'" routerLink="/adminuser/dashboard" menuClose>
                            <ion-icon slot="start" name="apps"></ion-icon>
                            <ion-label>
                                Dashboard
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false" *ngIf="comSer?.adminUser?.adminUserRoleType===1">
                        <ion-item [routerDirection]="'root'" routerLink="/adminuser/doctors" menuClose>
                            <ion-icon slot="start" name="people"></ion-icon>
                            <ion-label>
                                Doctors
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'root'" routerLink="/adminuser/appointments" menuClose>
                            <ion-icon slot="start" name="calendar"></ion-icon>
                            <ion-label>
                                Appointments
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>

<!-- <ion-nav #mycontent [root]="rootPage"></ion-nav> -->