@import '../../../theme/css/_global';

$hundPerc: 100%;
:host {
    @extend .flex_col;
    background: var(--doctor-color-background);
}
.split-pane-md.split-pane-visible>.split-pane-side {
    max-width: 20% !important;
}
.side_nav_container {
    @extend .flex_row;
    flex: 1;
    .side_nav {
        @extend .flex_col;
        background: var(--doctor-color-background-contrast);
        width: 288px;
        position: relative;
        left: 0;
        bottom: 0;
        top: 0;
        align-items: stretch;
        transition: width .4s cubic-bezier(.25,.8,.25,1);
        -moz-transition: width .4s cubic-bezier(.25,.8,.25,1);
        -webkit-transition: width .4s cubic-bezier(.25,.8,.25,1);
        box-shadow: map-get($box-shadow, "for_sidebar");
        -webkit-box-shadow: map-get($box-shadow, "for_sidebar");
        -moz-box-shadow: map-get($box-shadow, "for_sidebar");
        z-index: map-get($z-index, 'sidebar');
        .toggle_side_menu {
            button {
                float: right;
                min-width: 72px;
                border-radius: 0px;
            }
            .rotate { transform: scaleX(-1); }
        }
        .mbDeviceSideNav {
            position: fixed;
        }
    }
    .collapse {
        width: 72px;
    }
    .side_nav_content {
        @extend .flex_col;
        // padding: 10px;
        flex: 1;
        transition-duration: .4s;
        -moz-transition-duration: .4s;
        -webkit-transition-duration: .4s;
        transition-timing-function: cubic-bezier(.25,.8,.25,1);
        -moz-transition-timing-function: cubic-bezier(.25,.8,.25,1);
        -webkit-transition-timing-function: cubic-bezier(.25,.8,.25,1);
        transition-property: transform, margin-left, margin-right;
        -moz-transition-property: margin-left, margin-right;
        -webkit-transition-property: margin-left, margin-right;
    }
}
