@import '../../../../theme/css/__global';

:host {
    background-color: var(--doctor-color-background);
    @extend .flex_col;
    justify-content: unset;
}
ion-content {
    background-color: var(--doctor-color-background);
}

.appointment_wrap {
    padding: 10px;
    .card_data_wrap {
        @extend .flex_row;
        .card_details {
            @extend .card_layout;
            font-size: 20px;
            cursor: pointer;
            line-height: 20px;
            padding: 10px;
        }
        .card_details + .card_details {
            margin-left: 10px;
        }
    }
    .refresh_appointment_wrap {
        @extend .flex_row;
        @extend .card_layout;
        align-items: center;
        margin-top: 10px;
        padding: 10px;
        .refresh_icon { 
            cursor: pointer;
            margin-left: 15px;
            margin-top: 5px;
            flex: 7;
            transition: all .4s cubic-bezier(.25,.8,.25,1);
            -moz-transition: all .4s cubic-bezier(.25,.8,.25,1);
            -webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
            color: var(--doctor-color-primary);
            &:hover { color: var(--doctor-color-accent); }
            .sync {
                pointer-events: none;
                animation: sync 1s infinite;
            }
        }
        .auto_refresh_wrap {
            flex: 3;
            mat-form-field{
                width: 45%;;
            }
        }
    }
    .search_bar_container {
        @extend .flex_row;
        @extend .default_shadow;
        margin-top: 10px;
        padding: 10px;
        border-radius: 2px;
        .search_form_details {
            margin-left: 1px;
        } 
        .search_form_details + .search_form_details {
            margin-left: 9px;
        } 
        .clear_button {
            @extend .mat-small-button;
        }
    }
    .appointment_list_container {
        @extend .flex_col;  
        height: calc(100vh - 375px);
        .appointments_wrap {
            display: block;
            > li:first-child {
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
            }
            > li:last-child {
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
            .empty_appointments {
                padding: 15px;
                text-align: center;
                font-size: 15px;
                color: var(--ion-color-danger-tint);
            }
        }
    }
}
