<ion-header>
    <ion-toolbar>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>
<div class="appointment_wrap">
    <div class="card_data_wrap">
        <div class="card_details" (click)="openOverlay(1)">
            Online Doctors | {{ onlinePhys?.onlineUsersCount ? onlinePhys?.onlineUsersCount : 0}}
        </div>
        <div class="card_details" (click)="openOverlay(2)">
            Online Patients | {{ onlinePats?.onlineUsersCount ? onlinePats?.onlineUsersCount : 0}}
        </div>
        <!-- <div class="refresh_icon" (click)="refreshOnlineUsers()"
            matTooltip="Refresh Users">
        </div> -->
        <!-- <div class="card_details">
            UnAuthorised Doctors
        </div>
        <div class="card_details">
            Online Doctors
        </div> -->
    </div>
    <div class="refresh_appointment_wrap">
        <h2>Appointments &nbsp; | &nbsp;{{ appointments?.length }}</h2>
        <div class="refresh_icon" (click)="syncAppointmentsInList()" matTooltip="Refresh Appointments">
            <mat-icon [class.sync]="!loader"> sync </mat-icon>
        </div>
        <div class="auto_refresh_wrap">
            <mat-form-field>
                <mat-label>Auto Refresh</mat-label>
                <mat-select placeholder="auto refresh" (selectionChange)="initializeAutoRefresh($event.value)">
                    <mat-option value="120000"> 2 min</mat-option>
                    <mat-option value="180000"> 3 min </mat-option>
                    <mat-option value="240000"> 4 min </mat-option>
                    <mat-option value="300000"> 5 min </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <form [formGroup]="dateSrchForm">
        <div class="search_bar_container">
            <div class="search_form_details">
                <app-date-picker [placeholder]="'From Date'" [dateControl]="dateSrchForm.get('fromDate')"
                    (datePicked)="getDate($event, 1)"></app-date-picker>
                <mat-error *ngIf="dateSrchForm.get('fromDate').hasError('required')">
                    please select from date
                </mat-error>
            </div>
            <div class="search_form_details">
                <app-date-picker [placeholder]="'To Date'" [dateControl]="dateSrchForm.get('toDate')"
                    (datePicked)="getDate($event, 2)"></app-date-picker>
                <mat-error *ngIf="dateSrchForm.get('toDate').hasError('required')">
                    please select to date
                </mat-error>
            </div>
            <div class="search_form_details">
                <mat-form-field>
                    <mat-label>Appointment Status</mat-label>
                    <mat-select multiple placeholder="Appointment Status" name="appointmentStatus"
                        formControlName="appointmentStatusList">
                        <mat-option *ngFor="let appointment of appoinStatusList" value="{{ appointment?.value }}">
                            {{ appointment?.id }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="search_form_details">
                <mat-form-field>
                    <input matInput name="byNameSearch" formControlName="patientName" placeholder="Search by name">
                </mat-form-field>
            </div>
            <div class="search_form_details">
                <button mat-raised-button color="primary" class="clear_button" (click)="resetSearchForm()">
                    Clear
                </button>
            </div>
            <div class="search_form_details">
                <button mat-raised-button color="primary" class="clear_button"
                    (click)="dateSrchForm.valid&&getFilteredAppointmentsByAdminUser()">
                    Search
                </button>
            </div>
        </div>
    </form>
    <div class="appointment_list_container">
        <ion-content>
            <ul class="appointments_wrap">
                <li *ngFor="let appointmentsItem of appointments; trackBy: trackAppointmentById">
                    <app-appointment (refresh)="syncAppointmentsInList()" [appointment]="appointmentsItem">
                    </app-appointment>
                </li>
                <li class="empty_appointments" *ngIf=" appointments && appointments?.length === 0"> No Appointments
                    Added Yet. </li>
            </ul>
        </ion-content>
    </div>
</div>
<ion-footer>
    <mat-paginator [length]="totalCount" [pageSize]="myAppointments?.limit" (page)="getNextList($event)">
    </mat-paginator>
</ion-footer>