<div class="physician_list_wrap">
    <form [formGroup]="searchPhysicianForm">
        <div class="search_physician_wrap">
            <div class="search_phys_entity_wrap">
              <mat-form-field>
                  <input matInput name="byNameSearch" formControlName="physicianName"
                  placeholder="search by name">
              </mat-form-field>
            </div>
            <!-- <div class="search_phys_entity_wrap">
                <mat-form-field>
                    <mat-label>Authorize Status</mat-label>
                    <mat-select name="authorizeStatus" placeholder="Authorize Status" formControlName="isAuthorised">
                        <mat-option value="">None</mat-option>
                        <mat-option value="true">Authorized</mat-option>
                        <mat-option value="false">Un-Authorized</mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->
            <div class="search_phys_entity_wrap">
                <button mat-raised-button color="primary" class="clear_button" (click)="resetSearchForm()">
                    Clear
                </button>
            </div>
            <div class="search_phys_entity_wrap">
                <button mat-raised-button color="primary" class="clear_button" (click)="getFilteredMyPhysiciansByAdminUser()">
                    Search
                </button>
            </div>
        </div>
    </form>
    <div class="physicians_list_container">
        <ion-content>
            <ul class="physicians" *ngFor="let physician of physicians">
                <li> Dr. {{ physician?.profile?.fullname }} </li>
                <li> {{ physician?.authorisedName }} </li>
                <li> {{ physician?.profile?.address?.city }} </li>
                <li>
                    <button mat-raised-button color="primary" (click)="authoriseOrUnauthorisePhysician(physician)" class="clear_button">
                        {{ physician?.authorised ? "un-authorise" :"authorise" }}
                    </button>
                </li>
                <li class="no_physicians" *ngIf=" physicians?.length === 0"> No Physicians Found. </li>
            </ul>
        </ion-content>
    </div>
    <ion-footer>
        <mat-paginator [length]="totalCount"
            [pageSize]="searchPhysicianForm.get('limit').value" (page)="getNextList($event)">
        </mat-paginator>
    </ion-footer>
</div>

