@import '../../../../theme/css/__global';

:host {
    background-color: var(--doctor-color-background);
    @extend .flex_col;
    justify-content: unset;
}
ion-content {
    background-color: var(--doctor-color-background);
}
.physician_list_wrap {
    @extend .flex_col;
    padding: 10px;
    .clear_button {
        @extend .mat-small-button;
    }
    .search_physician_wrap{
        @extend .flex_row;
        padding: 5px;
        margin-top: 10px;
        border-radius: $border-radius;
        .search_phys_entity_wrap{
            margin-left: 5px;
        }
        .search_phys_entity_wrap + .search_phys_entity_wrap {
            margin-left: 10px;
        }
    }
    .physicians_list_container {
        @extend .flex_col;
        margin-bottom: 15px;
        height: calc(100vh - 375px);
        ul:nth-child(odd) {
            background: var(--doctor-color-background-contrast);
        }
        ul:nth-child(even) {
            background: var(--doctor-color-skyblue);
        }
        ul:first-child {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }
        ul:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
        .physicians {
            @extend .flex_row;
            padding: 5px;
            border: 1px solid #ccc;
            align-items: center;
            li {
                position: relative;
                padding: 10px 15px;
                width: 25%;
                text-transform: capitalize;
                font-size: 13px;
                color: var(--doctor-color-text);
                opacity: 0.8;
            }
            // > li:first-child {
            //     flex: 2;
            // }
            // > li:nth-child(2) {
            //     flex: 1;
            // }
            // > li:nth-child(3) {
            //     flex: 1;
            // }
            .no_physicians {
                padding: 15px;
                color: var(--ion-color-danger-tint);
                text-align: center;
            }
        }
    }
}