
$card-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
$accent-shadow:  0 3px 1px -2px rgba(255, 109, 0, .2), 0 2px 2px 0 rgba(255, 109, 0, .14), 0 1px 5px 0 rgba(255, 109, 0, .12);
$search-bar-shadow: 0 1px 3px rgba(0,16,44,.08), 0 2px 4px rgba(0,16,44,.12);
$search-bar-shadow-hover: 0 7px 14px rgba(0,16,44,.12), 0 3px 6px rgba(0,16,44,.08);
$drop-down-shadow: 0 8px 24px rgba(0,16,44,.08), 0 3px 8px rgba(0,16,44,.12);
$drop-down-shadow-hover: 0 6px 12px rgba(0,0,0,.175);
$seperator: 1px solid rgba($color: #000000, $alpha: .1);
$prescn-page-shadow: 0 0 5px 0 rgba(0,0,0,.75);

$z-index: (
    "sidebar": 999,
    "error_popup": 9999,
    "prescn_header": 99,
);

$box-shadow: (
    'primary': 0 0 2px 0 rgba(0,0,0,.28),
    'success': 0 0 5px 0 rgba(40, 167, 69,.5),
    'warning': 0 0 5px 0 rgba(221, 18, 52,.5),
    'for_sidebar': 0px 0px 5px 0px rgba(0, 0, 0, 0.39),
);

$border-radius: 5px;

.display_flex {
    display: flex;
}
.flex_col {
    @extend .display_flex;
    flex-direction: column;
}
.flex_row {
    @extend .display_flex;
    flex-direction: row;
}
.image_prop {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center,center;
}
.syntagi_header_white_logo {
    background-image: url('src/assets/images/icons/syntagi-white.png');
}
.syntagi_login_logo {
    background-image: url('src/assets/images/logo/syntagi_phy_logo1.png');
}
.default_clinic_logo {
    background-image: url('src/assets/images/icons/MedicalSnake.jpg');
}
.default_patient_logo {
    background-image: url('src/assets/images/icons/profileDefault.jpg');
}
.default_physician_logo {
    background-image: url('src/assets/images/settings/ic_profileorange.png');
}
.card_layout {
    border-radius: $border-radius;
    background: var(--doctor-color-background-contrast);
    box-shadow:  $card-shadow;
    -webkit-box-shadow: $card-shadow;
    -moz-box-shadow: $card-shadow;
}
.default_shadow {
    box-shadow: map-get($box-shadow, 'primary');
    -webkit-box-shadow: map-get($box-shadow, 'primary');
    -moz-box-shadow: map-get($box-shadow, 'primary');
}
.primary_button {
    --background: var(--doctor-color-primary);
    --color: var(--doctor-color-primary-contrast);
    --color-activated: var(--doctor-color-primary-contrast);
    --color-focused: var(--doctor-color-primary-contrast);
    --color-hover: var(--doctor-color-primary-contrast);
    --background-activated: var(--doctor-color-primary);	
    --background-focused: var(--doctor-color-primary);
    --background-hover: var(--doctor-color-primary);
}
.primary_radio_button {
    --color: var(--doctor-color-primary);
    --color-checked: var(--doctor-color-accent);
    opacity: .8;
}
.mat-small-button {
    height: 30px;
    font-size: 12px !important;
    line-height: 26px;
    padding: 0px 10px;
}
.doctor_input {
    @extend .flex_row;
    height: 35px;
    border-radius: $border-radius;
    background: var(--doctor-color-background-contrast);
    -webkit-box-shadow: $search-bar-shadow;
    box-shadow: $search-bar-shadow;
    -webkit-transition: -webkit-box-shadow .15s ease;
    transition: -webkit-box-shadow .15s ease;
    transition: box-shadow .15s ease;
    transition: box-shadow .15s ease,-webkit-box-shadow .15s ease;
    input {
        flex: 1;
        width: 100%;
        height: 100%;
        border: none;
        padding: 10px;
        text-overflow: ellipsis;
    }
    button:first-of-type {
        border-radius: 0px;
    }
    button:last-of-type {
        border-radius: 0px;
        border-left: $seperator;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    button {
        height: 100%;
        min-width: 50px;
        padding: 0px;
        outline: none;
        color: var(--doctor-color-primary);
        background: #f0f5ff;
        .mat-icon { font-size: 20px; }
    }
    &:hover, &:focus {
        -webkit-box-shadow: $search-bar-shadow-hover;
        box-shadow: $search-bar-shadow-hover;
    }
}
.chip, .square_chip {
    @extend .flex_row;
    align-items: center;
    padding: 8px 12px;
    border-radius: 20px;
    color: var(--doctor-color-chip-color);
    background: var(--doctor-color-chip-background);
    p {
        flex: 1;
        font-size: 14px;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        line-height: 18px;
        text-overflow: ellipsis;
    }
    .mat-icon {
        width: 18px;
        height: 18px;
        margin-left: 6px;
        font-size: 18px;
        opacity: .5;
        cursor: default;
        &:hover {
            opacity: 1;
        }
    }
}
.square_chip {
    background: var(--doctor-color-square-chip-background);
    border-radius: $border-radius;
}