html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 130%;
    font-family: 'Roboto', sans-serif !important;
    /* font-family: "Times New Roman", Times, serif; */
    font-size: 12px;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #3D4DAC;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type="text"], input[type="number"], input[type="password"] {
    width: 100%;
    /*width: calc(100% - 20px);*/
    /* padding: 0 0 5px 0; */
    border: none;
    font-family: 'Roboto', sans-serif !important;
    background-color: transparent;
}
input:focus, textarea:focus {
    /* box-shadow: none; */
    outline-width: 0;
    /*border-color:#3D4DAC !important;*/
}
b {
    font-weight: bold;
}
h4 {
    font-size: 16px;
    float: left;
}
h3 {
    font-size: 18px;
}
h2 {
    font-size: 20px;
}
h1 {
    font-size: 22px;
}
.mainWrap, body {
    background-color: #f5f5f5;
}
.breadCrumb {
    float: left;
    margin-top: 8px;
}
.breadCrumb li {
    float: left;
    margin-right: 5px;
}
.breadCrumb li a {
    float: left;
    width: 100%;
    color: #3D4DAC;
}

/* ******* APPLICATION COMMON CSS ******** */

.mainLoadingWrap {
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 99999;
    background-image: url("../../assets/images/heart_cycle.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.beat_loader {
    height: 25px;
    width: 170px;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/beat.gif");
}