@import "../../../../../theme/css/__global";

ion-title {
    line-height: initial;
}
.loader {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}
.mat-form-field {
    width: 100%;
}

ion-col {
    font-size: 14px;
    &.paidAmount {
        color: var(--ion-color-success);
    }
    &.amountToRefund {
        color: var(--ion-color-danger);
    }
}
