<ion-header>
    <ion-toolbar>
        <ion-title> Refund </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ng-container [formGroup]="refundFG">
    <ion-content class="ion-padding">
        <ion-grid class="ion-no-padding">
            <ion-row class="ion-margin-top">
                <ion-col size="2"></ion-col>
                <ion-col size="4" class="ion-justify-content-center"> Consultation Amount </ion-col>
                <ion-col size="6" class="ion-align-items-end paidAmount">
                    <h4> ₹ {{ appointment?.amount }} </h4>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="4" class="ion-justify-content-center ion-margin-top"> Cacellation Charges </ion-col>
                <ion-col size="6" class="ion-align-items-end">
                    <mat-form-field [appearance]="'outline'">
                        <mat-label> Cancellation Charge </mat-label>
                        <input matInput formControlName="charges" placeholder="Cancellation Charge" required>
                        <mat-error *ngIf="refundFG.get('charges').hasError('exceeding')">
                            this charge can not exceed the appointment charge
                        </mat-error>
                    </mat-form-field>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="4" class="ion-justify-content-center"> Amount to be Refunded </ion-col>
                <ion-col size="6" class="ion-align-items-end amountToRefund">
                    <h4> ₹ {{ amountToRefund }} </h4>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="10" class="seperator"></ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="4" class="ion-justify-content-center ion-margin-top"> Refund Notes </ion-col>
                <ion-col size="6" class="ion-align-items-end">
                    <mat-form-field [appearance]="'outline'">
                        <mat-label> Refund Notes </mat-label>
                        <textarea matInput rows="5" formControlName="refundNote" placeholder="Refund Notes"
                            required></textarea>
                    </mat-form-field>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>

    <div class="loader" *ngIf="loader">
        <ion-spinner name="lines" color="primary"></ion-spinner>
    </div>

    <ion-footer>
        <ion-toolbar>
            <ion-buttons slot="end">
                <ion-button fill="clear" (click)="dismiss()" color="primary"> Cancel </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button fill="solid" (click)="submit()" [disabled]="refundFG?.invalid" type="submit"
                    color="primary">
                    Submit </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-footer>
</ng-container>