<header class="app_header">
    <a></a>
    <div class="notification_wrap" *ngIf="isLogin$ | async">
        <app-notify></app-notify>
    </div>
</header>
<div class="progress_bar" *ngIf="loaderState$ | async">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
