@import '../../../../../theme/css/_global.scss';

:host {
    @extend .flex_col;
    .app_header {
        @extend .flex_row;
        align-items: center;
        padding: 8px 20px;
        // background-color: var(--doctor-color-primary);
        a {
            $size: 150px;
            width: $size;
            height: 40px;
            // @extend .syntagi_header_white_logo;
            @extend .image_prop;
        }
        .notification_wrap {
            flex-grow: 1;
        }
    }
    .progress_bar {
        .mat-progress-bar {
            height: 3px !important;
        }
    }
}
