<!-- <div class="labTopImageWrap">
    <div class="inner textCenter" style="margin: auto;bottom: 0px;right: 0px;">
        <span>+</span>
        Upload
    </div>
    <div class="backColorWrap"></div>
    <input type="file" name="digitalSign" (change)="uploadImage($event)" [disabled]="isDisable">
</div>
<div class="imagePreviewWrap" *ngIf="recievedImage">
    <img [src]="recievedImage || responseImage">
</div> -->
