.addPhyImgHeading {
	float: left;
	margin: 15px;
}
.labTopImageWrap 
{
	float: left;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid #cfd7e0;
    position: relative;
}
.labTopImageWrap > .inner {
    float: left;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 3;
    color: #fff;
    /* margin: 5px; */
}
.textCenter {
    text-align: center;
}
.labTopImageWrap > .backColorWrap {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
	background-color: #a0b0c1;
}
.labTopImageWrap > input[type="file"] {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    cursor: pointer;
}
.labTopImageWrap > .imagePreviewWrap {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.labTopImageWrap > .imagePreviewWrap img{
	float: left;
	width: 100%;
	height: 100%;
	background-position: center,center;
	background-repeat: no-repeat;
	background-size: contain;
}

.imagePreviewWrap {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.imagePreviewWrap img{
	float: left;
	width: 100%;
	height: 100%;
	background-position: center,center;
	background-repeat: no-repeat;
	background-size: contain;
}
